@import "../base/styling";

.al{
  &-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    span{
      @include fontStyle(2.8rem,500,#262626);
      margin: 1rem 0;
      letter-spacing: 1px;
    }
  }
  &-content{
    padding: 1rem 5rem 5rem 5rem;
    span{
      @include fontStyle(1.5rem,normal,#5e5e5e);
    }
    &-img{
      text-align: center;
      padding-bottom: 5rem ;
      img{
        width: 50rem;
        height: 35rem;
        padding: 1rem 0;
      }
      &-footer{
        display: flex;
        justify-content: center;
        span{
          @include fontStyle(1.5rem,normal,#5e5e5e);
        }
      }
    }
  }
  &-bold{
    color: #3b3a3a !important;
  }
  &-profile{
    padding: 1rem;
    &-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 2rem;
    }
    &-image{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8d8d8;
      border-radius: 50%;
      height: 14rem;
      width: 14rem;
      img{
        height: 14rem;
        width: 14rem;
        border-radius: 50%;
      }
    }
    &-name{
      padding: 1rem 0 0.5rem;
      span{
        @include fontStyle(1.6rem,500, #373737);
        letter-spacing: 1px;
      }
    }
    &-experience{
      text-align: center;
      span{
        @include fontStyle(1.2rem,normal, #5e5e5e)
      }
    }
  }
  &-footer{
    padding: 1rem 5rem 5rem 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    span{
      @include fontStyle(1.5rem,normal,#5e5e5e);
    }
  }
}