@import "../frontend/src/assets/scss/base/styling";

.sidebar{
  &-item{
    &-header{
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      margin: 0.5rem 0;
      span{
        @include fontStyle(1.6rem,500,$beta-color);
      }
    }
  }
  &-buttons{
    display: flex;
    justify-content: space-around;
  }
  &-button{
    @include button(10rem,2rem,$gamma-color,#fff,1.2rem)
  }
  &-input{
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
  }
}
.ui.label{
  width: 6rem;
  background-color: $alpha-color !important;
  color: $beta-color;
}
